<div>
    <div style="display: block; width: 30%; margin: 5%">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" chartType="bar">
        </canvas>
    </div>
 
    <div style="display: block; width: 30%; margin: 5%">
        <canvas baseChart [datasets]="doughnutChartData" [labels]="doughnutChartLabels"
            chartType="doughnut"></canvas>
    </div>

    <div style="display: block; width: 30%; margin: 5%">
        <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" chartType="radar"></canvas>
    </div>

    <div style="display: block; width: 30%; margin: 5%">
        <canvas baseChart [datasets]="pieChartData" [labels]="pieChartLabels" chartType="pie"></canvas>
    </div>
</div>
